
  .card {
    max-width: 300px;
    margin: 10px auto;
  
  }
  .card img {
    max-width: 50%;
    height: 150px;
    padding: 2px;
    margin: 0 auto;
    
  }
  .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5em; 
  }
  
  
  @media (max-width: 768px) {
    .card {
      max-width: 250px;
    
    }
  }
  
  @media (max-width: 576px) {
    .card {
      max-width: 250px;
  
    }
  }
 .details{

margin-top: 16px;
align-self: flex-end;
 }





